.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
td button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}
.pagination-container {
  margin-top: 10px;
}
.pagination-container button {
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.pagination-container button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
